# Python Bytecode & Cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# Environments
.env
.venv
env/
venv/
ENV/

# Database & Artifacts
*.db
*.sqlite3

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
